<%- include('layout/header', { title: 'Blog - register', isNarrow: true })%>

<h1>注册</h1>
<% if (locals.isLogin) { %>
    <p><%= locals.userName%> Signed in<a href="/">Dashboard</a></p>
<% } else { %>
    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="input-username" placeholder="userName">
            <small id="span-username-info" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="input-password" placeholder="password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="input-password-repeat" placeholder="password">
            <small id="span-password-repeat-info" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <select class="form-control" id="select-gender">
                <option value="1">male</option>
                <option value="2">female</option>
                <option value="3">NA</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" id="btn-submit">Sign up</button>
        &nbsp;
        <a href="/login">return log in>></a>
    </form>

    <script>
        $(function() {
            var $inputUserName = $('#input-username')
            var $spanUserNameInfo = $('#span-username-info')
            var $inputPassword = $('#input-password')
            var $inputPasswordRepeat = $('#input-password-repeat')
            var $spanPasswordRepeatInfo = $('#span-password-repeat-info')
            var $selectGender = $('#select-gender')
            var userNameTimeoutId
            var passwordTimeoutId
            var isPasswordSame = false // 默认两次密码不一致
            var isUserNameExist = true // 默认用户名已存在

            // 监听用户名输入
            $inputUserName.on('input', function() {
                // 做一个简单的防抖
                if (userNameTimeoutId) {
                    clearTimeout(userNameTimeoutId)
                }
                userNameTimeoutId = setTimeout(function() {
                    // 判断用户名是否已存在
                    var userName = $inputUserName.val()
                    ajax.post('/api/user/isExist', {
                        userName
                    }, function(err, data) {
                        $spanUserNameInfo.show()
                        if (err) {
                            $spanUserNameInfo.text('success username')
                            isUserNameExist = false
                        } else {
                            $spanUserNameInfo.text('username alread existed！')
                            isUserNameExist = true
                        }
                    })
                }, 500)
            })

            // 监听验证密码输入
            $inputPasswordRepeat.on('input', function () {
                // 做一个简单的防抖
                if (passwordTimeoutId) {
                    clearTimeout(passwordTimeoutId)
                }
                passwordTimeoutId = setTimeout(function() {
                    var password = $inputPassword.val()
                    var passwordRepeat = $inputPasswordRepeat.val()
                    $spanPasswordRepeatInfo.show()
                    if (password === passwordRepeat) {
                        $spanPasswordRepeatInfo.text('correct')
                        isPasswordSame = true
                    } else {
                        $spanPasswordRepeatInfo.text('wrong！')
                        isPasswordSame = false
                    }
                }, 500)
            })

            // 注册事件
            $('#btn-submit').click(function(e) {
                // 阻止默认的提交表单行为
                e.preventDefault()

                // 验证
                if (isUserNameExist) {
                    alert('username already existed')
                    return
                }
                if (!isPasswordSame) {
                    alert('not correct')
                    return
                }

                var userName = $inputUserName.val()
                var password = $inputPassword.val()
                var gender = parseInt($selectGender.val())

                // 提交数据
                ajax.post('/api/user/register', {
                    userName,
                    password,
                    gender
                }, function(err, data) {
                    if (err) {
                        alert(err)
                        return
                    }
                    alert('signed up please log in')
                    location.href = '/login'
                })
            })
        })
    </script>
<% } %>

<%- include('layout/footer')%>